header h1 {
    text-align: center;
}

section {
    text-align: center;
}

section h2 span {
    color: blue;
}

figure, article, footer {
    text-align: center;
}

figure img {
    width: 150px; 
    height: 200px; 
    border: 5px; 
    border: solid;
}

#big-font {
    font-size: 20px;
}

#small-font {
    font-size: 15px;
}



